# Auto detect text files and perform LF normalization
* text=auto

# Standard to msysgit
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain

# Source code
*.cs text diff=csharp
*.xaml text
*.json text
*.xml text
*.props text
*.targets text

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
